<launch>
    <param name="robot_description" textfile="$(find einstein_description)/urdf/einstein_robot.urdf"/>

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" >
        <param name="use_gui" value="true"/>
    </node>

    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" />

    <!--node pkg="einstein_driver" type="einstein_sensors.py" name="einstein_sensors" /-->
</launch>